<body>
  <div class="container">
    <h1 class="title">Danh sách bài tập trong Module 8</h1>
    <div class="buttons-container">
      <button routerLink="/bai-86">Bài 86</button>
      <button routerLink="/bai-87">Bài 87</button>
      <button routerLink="/bai-88">Bài 88</button>
      <button routerLink="/bai-89">Bài 89</button>
      <button routerLink="/bai-90">Bài 90</button>
      <button routerLink="/bai-91">Bài 91</button>
      <button routerLink="/bai-92">Bài 92</button>
      <button routerLink="/bai-93">Bài 93</button>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>  
  </div>
</body>
