<div class="container">
    <!-- <h1>Data Binding</h1>
    <h2>Welcome to {{framework}}</h2>
    <h2>{{"Welcome to" + framework}}</h2>
    <h2>{{"Welcome to" + framework.toUpperCase()}}</h2>
    <h3>Text: {{test()}}</h3>

    <hr>
    <h1>Property Binding</h1>
    <div>
        Name: <input type="text" class="form-control" [value]="name">
        Email: <input type="text" class="form-control" value="{{email}}">
    </div> -->
    
    <!-- <hr>
    <h1>Class Binding</h1>
    <h3 class="t-primary">Sample Text</h3>
    <h3 [class]="primary">Sample Text</h3>
    <h3 [class.t-primary]="true">Sample Text</h3>
    <h3 class="{{error}}">Sample Text</h3>
    <br>
    <h3 class="{{primary}} {{normal}}">1Multi-Class</h3>
    <h3 [ngClass]="multiClass">2Multi-Class</h3>
    <h3 [ngClass]="err ? error : primary">3Multi-Class</h3> -->

    <!-- <hr>
    <h1>Event Binding</h1>
    <button class="btn btn-primary" (click)="clickMe($event)">Click me</button>
    <div class="mt-3">
        Email: <input type="text" class="form-control" #myEmail>
        <button class="btn btn-outline-primary" (click)="process(myEmail.value)">Submit</button>
    </div> -->

    <h1 class="mt-3">Two-way Binding</h1>
    <div>
        <div class="form-row">
            Name: <input type="text" [(ngModel)]="name" class="form-control">
            Your name: {{name}}
        </div>
        <div class="form-row mt-3">
            Address: <input type="text" [(ngModel)]="address" class="form-control">
            Your address: {{address}}
        </div>
    </div>
</div>