<h2>Binding class bằng cú pháp []</h2>
<h1 [class]="success">Success Text</h1>
<h1 [class]="error">Error Text</h1>
<h1 [class]="primary">Primary Text</h1>
<h1 [class]="normal">Normal Text</h1>
<h1 [ngClass]="multiClass">Multi Class Text</h1>
<h2 [class]="complexity">Complex Text</h2>
<h2>Binding class bằng interpolation</h2>
<h2 class="{{ success }}">Success Text</h2>
<h2 class="{{ error }}">Error Text</h2>
<h2 class="{{ primary }}">Primary Text</h2>
<h2 class="{{ normal }}">Normal Text</h2>
<h2 class="{{ complexity }}">Complex Text</h2>
