<div class="container">
    <h1>ngIf Directive</h1>
    <button class="btn btn-primary" (click)="changeView()">Change View</button>
    <!-- <div *ngIf="show; else view2">
        <h2 class="bg-primary text-white text-center py-3 mt-3">View 1</h2>
    </div>

    <ng-template #view2>
        <h2 class="bg-danger text-white text-center py-3 mt-3">View 2</h2>
    </ng-template> -->

    <div *ngIf="show; then view1; else view2"></div>

    <ng-template #view1>
        <h2 class="bg-primary text-white text-center py-3 mt-3">View 1</h2>
    </ng-template>

    <ng-template #view2>
        <h2 class="bg-danger text-white text-center py-3 mt-3">View 2</h2>
    </ng-template>

    <button class="btn btn-outline-primary mx-2" (click)="showComp1()" [ngClass]="showComp == 'Comp1' ? 'btn-primary text-white' : ''">Comp 1</button>
    <button class="btn btn-outline-danger mx-2" (click)="showComp2()" [ngClass]="showComp == 'Comp2' ? 'btn-danger text-white' : ''">Comp 2</button>

    <div *ngIf="showComp == 'Comp1'">
        <app-comp1></app-comp1>
    </div>

    <div *ngIf="showComp == 'Comp2'">
        <app-comp2></app-comp2>
    </div>

    <hr>
    <h1>ngSwitch</h1>
    <div [ngSwitch]="framework">
        <p *ngSwitchCase="'angular'">Angular</p>
        <p *ngSwitchCase="'react'">React</p>
        <p *ngSwitchCase="'vue'">Vue</p>
        <p *ngSwitchCase="'next'">Next</p>
        <p *ngSwitchDefault>...</p>
    </div>
    
    <hr>
    <h1>ngFor</h1>
    <h3>Frameworks</h3>
    <!-- div.list-group>div.list-group-item(Item $)*4 -->

    <div class="list-group" *ngFor="let f of frameworks; index as i; odd as o; even as e; last as l">
        <div class="list-group-item">{{i}}: {{f}} - {{o}} - {{e}} - {{l}}</div>

    </div>  

    <h3>Products</h3>
    <div class="list-group" *ngFor="let p of products">
        <div *ngIf="p.price > 20000" class="list-group-item">{{p.name}}</div>
    </div>
</div>