<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 bg-light p-4">
            <section>
                <h2>Main content</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eum blanditiis magni illo, nisi expedita iste fugiat, dignissimos itaque earum enim veritatis exercitationem odio molestiae error, id non asperiores animi.</p>
            </section>
        </div>
        <div class="col-md-4">
            <aside>
                <h2>Right Sidebar</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem pariatur optio veniam quasi</p>
            </aside>
        </div>
    </div>
</div>