body {
    font-size: 14px;
}

h1 {
    color: orange;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center-image {
    text-align: right; 
}

.list {
    background: url(hinh/back.jpg);
}

ul {
    color: brown;
    line-height: 1.5;
    padding-left: 30px;
}

hr {
    height: 1px;
    background-color: orange;
}

.container {
    text-align: justify;
    color: brown;
}

.sidebar {
    border: 3pt solid;
    background-color: rgb(250, 242, 227);
    border-color: orange brown brown  orange ;
    padding-left: 1px;
    padding-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    float: right;
    margin-left: 10px;
}

footer {
    text-align: center;
    color: orange;
}